@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}

#logo {
  float: left;
  font-size: 150%;
  margin-left: 30px;
  color: #fff;
}

/* Navigation */

#menu {
  font-size: 150%;
  letter-spacing: 4px;
  color: #fff;
}

#menu, #logo {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 2px solid orange;
}

.active {
  border-bottom: 1px solid #fff;
}

/* Navigation End */

/* Title , about us , get to know us */
.title-text {
  font-size: 40px;
  text-align: center;
}


/* Header */
/* Hero img _ light out the image to darker */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), 
  url('/assets/img/Burger_Home_Hero.jpg') center/cover no-repeat fixed;
  margin-top: auto;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.hero .title {
  color: #fff;
  font-size: 70px;
}

.info-hero-button {
  color: #fff;
  font-size: 15px;
}

.hero-button {
/* align button*/
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  padding: 15px 20px;
  overflow: hidden;
  
/* border button*/
  border-radius: 200px;
  font-weight: bold;
  background: orange;
  color: #fff;
  cursor: pointer;
  border: 3px solid orange;
  margin-top: 10px;
}

.hero-button:hover {
/* contrariwise border button */
  background: #fff;
  color: orange;
  border: transparent 2px;
}

.pulsate {
/* book now " EAT NOW " button will wiggle every 2sec to get attraction */
  animation: wiggle 2s linear infinite;
  color: #000;
}
/* Webkit keyframe for the wiggle function from https://blog.hubspot.com/website/css-animation-examples*/
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* End of Hero */

/* End of Header */

/* About us section */

#about {
  padding: 40px;
}
.about {
  margin: 30px 0;
  display: flex;
  }
.about-icon .fas {
  font-size: 60px;
  color: orange;
  margin-right: 20px;
}
.about-subtitle {
  text-transform: capitalize;
  color: orange;
  font-size: 25px;
}
.about-info {
  margin-top: 10px;
  line-height: 1.5;
}

/* Hover transition of the about icon and subtitle */
.about-icon:hover .fas, .about-subtitle:hover {
  transition: transform 500ms ease, color 2s ease;
  transform: translateY(-5px);
  color: #ff4500;
}
/* media screen size phone from https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media screen and (min-width: 576px) {
  .about-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  .about {
    flex: 0 0 calc(50% - 16px);
  } 
}

@media screen and (min-width: 972px) {
  .about {
  flex: 0 0 calc(33.3% - 16px);
  }
}

/* End of About us section */