@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}

/* Header */
/* Hero img _ light out the image to darker */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), 
  url('/assets/img/Burger_Home_Hero.jpg') center/cover no-repeat fixed;
  margin-top: auto;
  
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  height: 100%;

}

.hero .title {
  color: #fff;
  font-size: 70px;
}

.info-hero-button {
  color: #fff;
  font-size: 15px;
}

.hero-button {
  /* align */
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
  /* border */
  border-radius: 200px;
  font-weight: bold;
  background: orange;
  color: #fff;
  cursor: pointer;
  border: 3px solid orange;
  margin-top: 10px;
}

.hero-button:hover {
  /* contrariwise border */
  background: #fff;
  color: orange;
  border: none;
}

.pulsate {
  /* book now " EAT NOW " button will pulsate every 4sec */
  animation: pulsate 4s ease-in-out;
  animation-iteration-count: infinite;
  opacity: .3;
  color: #000;
}
/* Webkit keyframe for the pulsate function */
@-webkit-keyframes pulsate {
  0%{
    opacity: .3;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: .3;
  }
}

/* End of Hero */

/* End of Header */